html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'UnifrakturMaguntia', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	font-size: 42px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111;
	color: #F2EFEA;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}